
  body {background-color: mintcream;}

  hr {background-color: black; border-style: dotted none none none; border-width: 12px; border-color: mintcream; width: 50%; height: 0; margin: 20px;}

h1 {color: #006000; font-family: Arial, Helvetica, sans-serif;}
em {color: darkgreen;}
